---
import experienceFive from "@/assets/images/experienceFive.png";
import experienceFour from "@/assets/images/experienceFour.png";
import experienceOne from "@/assets/images/experienceOne.png";
import experienceThree from "@/assets/images/experienceThree.png";
import experienceTwo from "@/assets/images/experienceTwo.png";
import { Carouselexperiences } from "@/ui/shared/carousel-cards";

const data = [
  {
    title: "Local comercial",
    text: "Renta locales en ValHui y únete a una comunidad comercial en crecimiento.",
    image: experienceOne.src,
    href: "/espacios#tabs",
  },
  {
    title: "Consultorios",
    text: "Renta espacios médicos con ubicación estratégica y visibilidad.",
    image: experienceTwo.src,
    href: "/espacios#tabs",
  },
  {
    title: "Oficinas",
    text: "Ofrecemos oficinas en renta para negocios que buscan imagen profesional, ubicación y conectividad.",
    image: experienceThree.src,
    href: "/espacios#tabs",
  },
  {
    title: "Terraza",
    text: "Terrazas en renta ideales para experiencias al aire libre y eventos comerciales únicos.",
    image: experienceFour.src,
    href: "/espacios#tabs",
  },
  {
    title: "Restaurante",
    text: "Locales en renta para restaurantes que buscan visibilidad, afluencia y una ubicación privilegiada.",
    image: experienceFive.src,
    href: "/espacios#tabs",
  },
];
---

<section class="section home-experience" id="negocios">
  <div class="section__container home-experience__container">
    <div class="home-experience__info">
      <h1 class="home-experience__title">
        Locales en renta para cada tipo de negocio
      </h1>
      <p class="home-experience__text">
        En ValHui encontrarás la renta ideal para tu negocio: locales
        comerciales, consultorios, oficinas y terrazas en Reforma CDMX. Un
        ecosistema activo que conecta marcas, servicios y personas todos los
        días.
      </p>
    </div>
    <div class="home-experience__carrousel">
      <Carouselexperiences client:load {data} />
    </div>
  </div>
</section>

<style>
  @reference '@/ui/styles/global.css';

  .home-experience {
    @apply w-full bg-[#7148EC]/10 py-16 mt-10 lg:mt-20;
  }

  .home-experience__container {
    @apply text-center;
  }

  .home-experience__title {
    @apply text-center font-bold text-[#0A0A0A] text-4xl mb-4;
  }

  .home-experience__text {
    @apply text-center text-gray-600 text-lg max-w-[900px] mx-auto mb-12;
  }
</style>

<script>
  addEventListener("DOMContentLoaded", () => {
    const data = document.querySelector(".home-experience__info");
    const slider = document.querySelector(".home-experience__carrousel");

    (data as HTMLElement).style.opacity = "0";
    (slider as HTMLElement).style.opacity = "0";

    const dataObserver = new IntersectionObserver(
      ([entry]) => {
        if (!entry) return;
        const isVisible = entry.isIntersecting;
        isVisible && data ? data.classList.add("fadeIn") : null;
      },
      { threshold: 0 },
    );
    data && dataObserver.observe(data);

    const sliderObserver = new IntersectionObserver(
      ([entry]) => {
        if (!entry) return;
        const isVisible = entry.isIntersecting;
        isVisible && slider ? slider.classList.add("fadeIn") : null;
      },
      { threshold: 0 },
    );
    slider && sliderObserver.observe(slider);
  });
</script>
