<section class="section home-example">
  <section class="section__container home-example__container">
    Contenido del home example
  </section>
</section>

<style>
  @reference "@/ui/styles/global.css";

  .home-example {
    @apply bg-gray-100;
  }

  .home-example__container {
    @apply py-10;
  }
</style>
