<section class="section services-example">
  <section class="section__container services-example__container">
    Contenido del services example
  </section>
</section>

<style>
  @reference "@/ui/styles/global.css";

  .services-example {
    @apply bg-gray-100;
  }

  .services-example__container {
    @apply py-10;
  }
</style>