---
import Image from "astro/components/Image.astro";

interface Props {
  icon: any;
  title: string;
  text: string;
}

const { icon, title, text } = Astro.props;
---

<article class="section cardRent">
  <div class="cardRent__icon__wrapper container">
    <Image
      src={icon}
      alt={title}
      class="inline-flex items-center justify-center pt-6 pl-4 py-4 rounded-[33554400px]"
    />
  </div>

  <h3 class="cardRent__title">{title}</h3>
  <p class="cardRent__text">{text}</p>
</article>

<style>
  @reference '@/ui/styles/global.css';

  .cardRent {
    @apply w-[390px] h-[180px] flex flex-col justify-items-center  text-center p-6 rounded-[10px] bg-[#F9F9F9CC] border border-gray-100;
  }

  .cardRent__title {
    @apply text-xl font-bold text-gray-800 mb-2;
  }

  .cardRent__text {
    @apply text-gray-600 text-sm;
  }

</style>
