---
const data = {
  title: "LOCALES COMERCIALES:",
  locals: [
    "3D Pestañas",
    "Acupuntura",
    "Aparatos Auditivos",
    "Aparatos Médicos",
    "Aparatos Ortopédicos",
    "Arreglo de Ropa",
    "Barbería Hombre",
    "Bronceado",
    "Cámara Hiperbárica",
    "Cejas",
    "Centro Diabetes",
    "Centro Podológico",
    "Centros Auditivos",
    "Acupuntura",
    "Clinica Antienvejecimiento",
    "Clinica Bariatria",
    "Clinica Dermatológica",
    "Clinica Nutrición",
    "Dentista",
    "Depilado",
    "Equipos Médicos",
    "Estetica",
    "Extensiones o Pelucas",
    "Farmacia",
    "Farmacia Dermatológico",
    "Farmacia Domeopótica",
    "Fisioterapia",
    "GNC",
    "Laboratorio de Análisis",
    "Laboratorio Especializado",
    "Optica",
    "Oxigeno Terapia",
    "Pilates",
    "Productos Naturistas",
    "Productos Orgánicos",
    "Productos Ortopédicos",
    "Productos para Mascotos",
    "Quiropráctico",
    "Rehabilitación",
    "Ropa Deportiva",
    "Ropa Modeladora",
    "Skin Care",
    "Spa",
    "Terapia de Lenguoje",
    "Tratamientos Reductores",
    "Uñas (Manicure y Pedicure)",
    "Yoga",
    "Zapatería Ortopédica",
    "Cafeteria Saludable",
    "Escuela de Maquillaje",
    "Heladería",
    "Libreria",
    "Pan sin Gluten",
    "Pasteleria",
    "Comidas Naturistas",
    "Snacks",
    "Súper Naturista",
  ]
};
---

<section class="locals section">
    <div class="locals__container section__container">
      <h3 class="locals__title">{data.title}</h3>
      <ul class="locals__list">
        {data.locals.map((local) => (
          <li class="locals__item">{local}</li>
        ))}
      </ul>
    </div>
</section>

<style>
  @reference '@/ui/styles/global.css';

  .locals {
    @apply w-full py-16 md:py-20;
  }
  .locals__container {
    @apply w-full flex flex-col items-center;
  }
  .locals__title {
    @apply text-2xl md:text-4xl font-bold font-Nova tracking-[-0.15px] leading-[100%] mb-10;
  }
  .locals__list {
    @apply w-full max-w-[1121px] flex flex-wrap gap-x-3 gap-y-6 ;
  }
  .locals__item {
    @apply text-sm text-[#717182] tracking-[-0.51px] leading-[100%]  ;
  }
</style>