---
import { TabsSection } from "../spaces-tabs-section/spaces-tabs-section";
import LocalsFirst from "@/assets/images/locals-first.png";
import LocalsSecond from "@/assets/images/locals-second.png";
import ConsultoryFirst from "@/assets/images/consultory-first.png";
import ConsultorySecond from "@/assets/images/consultory-second.png";
import TerraceFirst from "@/assets/images/terrace-first.png";

const localsData = {
  images: [
    { image: LocalsFirst, href: "/Plaza Lerma 296.1.pdf" },
    { image: LocalsSecond, href: "/Plaza Lerma 296.1.pdf" },
  ],
  spaces: [
    {
      title: "Áreas Piso 01",
      locals: [
        { name: "Local de trabajo 01", space: "22.90m²" },
        { name: "Local de trabajo 02", space: "15.09m²" },
        { name: "Local de trabajo 03", space: "15.02m²" },
        { name: "Local de trabajo 04", space: "15.09m²" },
        { name: "Local de trabajo 05", space: "16.25m²" },
        { name: "Local de trabajo 06", space: "14.64m²" },
        { name: "Local de trabajo 07", space: "14.83m²" },
        { name: "Local de trabajo 08", space: "14.91m²" },
        { name: "Local de trabajo 09", space: "22.21m²" },
      ],
    },
    {
      title: "Áreas Piso 02",
      locals: [
        { name: "Local de trabajo 01", space: "12.04m²" },
        { name: "Local de trabajo 02", space: "7.74m²" },
        { name: "Local de trabajo 03", space: "13.08m²" },
        { name: "Local de trabajo 04", space: "13.05m²" },
        { name: "Local de trabajo 05", space: "15.73m²" },
        { name: "Local de trabajo 06", space: "12.03m²" },
        { name: "Local de trabajo 07", space: "12.00m²" },
        { name: "Local de trabajo 08", space: "11.85m²" },
      ],
    },
  ],
  info: [
    {
      title: "LOCALES COMERCIALES:",
      text: [
        "3D Pestañas",
        "Acupuntura",
        "Aparatos auditivos",
        "Aparatos médicos",
        "Aparatos ortopédicos",
        "Arreglo de ropa",
        "Barbería hombre",
        "Bronceado",
        "Cámara hiperbárica",
        "Cejas",
        "Centro diabetes",
        "Centro podológico",
        "Centros auditivos",
        "Acupuntura",
        "Clínica antienvejecimiento",
        "Clínica bariatría",
        "Clínica dermatológica",
        "Clínica nutrición",
        "Dentista",
        "Depilado",
        "Equipos médicos",
        "Estética",
        "Extensiones o pelucas",
        "Farmacia",
        "Farmacia dermatológica",
        "Farmacia homeopática",
        "Fisioterapia",
        "GNC",
        "Laboratorio de análisis",
        "Laboratorio especializado",
        "Óptica",
        "Oxígeno terapia",
        "Pilates",
        "Productos naturistas",
        "Productos orgánicos",
        "Productos ortopédicos",
        "Productos para mascotas",
        "Quiropráctico",
        "Rehabilitación",
        "Ropa deportiva",
        "Ropa modeladora",
        "Skin Care",
        "Spa",
        "Terapia de lenguaje",
        "Tratamientos reductores",
        "Uñas (Manicure y Pedicure)",
        "Yoga",
        "Zapatería Ortopédica",
        "Cafetería Saludable",
        "Escuela de Maquillaje",
        "Heladería",
        "Librería",
        "Pan sin gluten",
        "Pastelería",
        "Comidas naturistas",
        "Snacks",
        "Súper naturista",
      ],
    },
  ],
};

const consultoryData = {
  images: [
    {
      image: ConsultoryFirst,
      href: "/Plaza Lerma 296.2.pdf",
    },
    {
      image: ConsultorySecond,
      href: "/Plaza Lerma 296.2.pdf",
    },
  ],
  spaces: [
    {
      title: "Áreas Piso 03",
      locals: [
        { name: "Local de trabajo 01", space: "11.77m²" },
        { name: "Local de trabajo 02", space: "8.45m²" },
        { name: "Local de trabajo 03", space: "8.47m²" },
        { name: "Local de trabajo 04", space: "8.28m²" },
        { name: "Local de trabajo 05", space: "9.19m²" },
        { name: "Local de trabajo 06", space: "7.39m²" },
        { name: "Local de trabajo 07", space: "8.62m²" },
        { name: "Local de trabajo 08", space: "7.81m²" },
        { name: "Local de trabajo 09", space: "11.85m²" },
      ],
    },
    {
      title: "Áreas Piso 04",
      locals: [
        { name: "Local de trabajo 01", space: "8.61m²" },
        { name: "Local de trabajo 02", space: "8.55m²" },
        { name: "Local de trabajo 03", space: "8.79m²" },
        { name: "Local de trabajo 04", space: "8.18m²" },
        { name: "Local de trabajo 05", space: "12.04m²" },
        { name: "Local de trabajo 06", space: "7.39m²" },
        { name: "Local de trabajo 07", space: "8.62m²" },
        { name: "Local de trabajo 08", space: "7.81m²" },
        { name: "Local de trabajo 09", space: "11.85m²" },
      ],
    },
  ],
  info: [
    {
      title: "CONSULTORIOS:",
      text: [
        "Valhul te ofrece la oportunidad de rentar espacio para tu consultorio médico de alta especialidad al alcance de todos donde además contarás con servicios incluidos tales como recepción, administración y atención de enfermería de primera linea.",
      ],
    },
  ],
};

const terraceData = {
  images: [
    {
      image: TerraceFirst,
      href: "/Plaza Lerma 296.3.pdf",
    },
  ],
  spaces: [
    {
      title: "Áreas Piso 05",
      locals: [
        { name: "Oficina administración", space: "16.40m²" },
        { name: "Oficina 01", space: "8.61m²" },
        { name: "Oficina 02", space: "8.55m²" },
        { name: "Oficina 03", space: "11.17m²" },
        { name: "Sala de juntas", space: "23.88m²" },
        { name: "Terraza", space: "53.72m²" },
      ],
    },
  ],
  info: [
    {
      title: "OFICINAS Y TERRAZA:",
      text: [
        "VALHUI te ofrece espacios en renta para que pongas tu oficina y compañía pyme, cafetería, heladería, comida orgánica, vegetariana, etc.",
      ],
    },
    {
      title: "TODO EN UN ESPACIO ACOGEDOR E INSPIRADOR.",
      text: [
        "Cafetería saludable",
        "Escuela de maquillaje",
        "Escuelas de pintura",
        "Heladería",
        "Pan sin gluten",
        "Pastelería",
        "Comidas naturistas",
        "Snacks",
        "Super naturista",
        "Oficinas para empresas PyME",
      ],
    },
  ],
};

const data = [localsData, consultoryData, terraceData];
const tabsData = [
  "Locales Comerciales",
  "Consultorios",
  "Restaurant/terraza Oficinas PYME",
].map((item, index) => ({
  label: `${item}`,
  data: data[index],
}));
---

<section class="tab-section" id="tabs">
  <div class="tab-section__container">
    <TabsSection client:only data={tabsData} />
  </div>
</section>

<style>
  @reference '@/ui/styles/global.css';
  .tab-section {
    @apply w-full bg-[#7148EC1A];
  }
  .tab-section__container {
    @apply w-full;
  }
</style>
