---
import Image from "astro/components/Image.astro";

interface Props {
  icon: any;
  title: string;
  text: string;
}

const { icon, title, text } = Astro.props;
---

<article class="card-rent">
  <Image src={icon} alt={title} class="card-rent__img" />

  <h3 class="card-rent__title">{title}</h3>
  <p class="card-rent__text">{text}</p>
</article>

<style>
  @reference '@/ui/styles/global.css';

  .card-rent {
    @apply w-full h-[180px] flex flex-col justify-items-center items-center text-center p-6 rounded-[10px] bg-[#F9F9F9CC];
  }

  .card-rent__img {
    @apply mb-4 object-cover;
  }

  .card-rent__title {
    @apply text-[30px] leading-9 font-bold text-[#0A0A0A] mb-2 tracking-[-0.4px];
  }

  .card-rent__text {
    @apply text-[#717182] font-normal leading-6 text-base tracking-[-0.31px];
  }
</style>
