---
import RentOne from "@/assets/icons/rentOne.png";
import RentTwo from "@/assets/icons/rentTwo.png";
import RentThree from "@/assets/icons/rentThree.png";
import CardRent from "./card-rent.astro";

const data = {
	cardRentOne: {
		icon: RentOne,
		title: "50K+",
		text: "Visitantes mensuales",
	},
	cardRentTwo: {
		icon: RentTwo,
		title: "30+",
		text: "Eventos por año",
	},
	cardRentThree: {
		icon: RentThree,
		title: "95%",
		text: "Satisfacción del inquilino",
	},
};
---

<section class="section home-Rent" id="experiencia">
  <div class="section__container home-Rent__container">
    <div class="home-Rent__info">
      <h1 class="home-Rent__title">
        Renta con propósito, crece con resultados
      </h1>
      <p class="home-Rent__text">
        Rentar en ValHui te brinda más que espacio: obtén soporte en marketing,
        operación eficiente y una red profesional que fortalece tu estrategia de
        negocio.
      </p>
    </div>
    <div class="home-Rent__cards">
      <CardRent {...data.cardRentOne} />
      <CardRent {...data.cardRentTwo} />
      <CardRent {...data.cardRentThree} />
    </div>
  </div>
</section>

<style>
  @reference '@/ui/styles/global.css';

  .home-Rent {
    @apply w-full py-24 lg:py-30 bg-[#FFFF];
  }

  .home-Rent__container {
    @apply flex flex-col items-center justify-center gap-8;
  }

  .home-Rent__info {
    @apply flex flex-col items-center justify-center gap-4;
  }

  .home-Rent__title {
    @apply text-center font-bold text-[#0A0A0A] text-4xl;
  }

  .home-Rent__text {
    @apply text-center text-[#717182] text-lg max-w-2xl mx-auto tracking-[-0.44px] font-normal mb-7;
  }

  .home-Rent__cards {
    @apply w-full grid grid-cols-1 md:grid-cols-3 gap-6;
  }
</style>



<script>
  addEventListener("DOMContentLoaded", () => {

    const data = document.querySelector(".home-Rent__info");
    const points = document.querySelectorAll(".home-Rent__cards > *");

    (data as HTMLElement).style.opacity = "0";
    points.forEach((item) => {
      (item as HTMLElement).style.opacity = "0";
    });

    const dataObserver = new IntersectionObserver(
      ([entry]) => {
        if (!entry) return;
        const isVisible = entry.isIntersecting;
        isVisible && data ? data.classList.add("fadeIn") : null;
      },
      { threshold: 0 },
    );
    data && dataObserver.observe(data);

    points.forEach((item, index) => {
      const itemObserver = new IntersectionObserver(
        ([entry]) => {
          if (!entry) return;
          const isVisible = entry.isIntersecting;
          if (isVisible) {
            setTimeout(() => {
              item.classList.add("fadeInFromBottom");
            }, index * 180);
            itemObserver.unobserve(item);
          }
        },
        { threshold: 0 },
      );
      itemObserver.observe(item);
    });
  });
</script>