---
import { Image } from "astro:assets";

import { Navigation } from "./navigation";
import { Button, buttonVariants } from "../button";

import LogoApp from "@/assets/images/valhui.png";
import { cn } from "@/lib/utils/shadcn";
import { ContactModal } from "../contact-modal";

const links = [
  { name: "Inicio", href: "/" },
  { name: "Negocios", href: "/#negocios" },
  { name: "Experiencia", href: "/#experiencia" },
  { name: "Ubicación", href: "/#ubicación" },
  { name: "FAQ", href: "/#faqs" },
  { name: "Contacto", href: "/#contacto" },
];
---

<header class="section header">
  <section class="section__container header__container">
    <div class="xl:min-w-[150px] flex">
      <a href="/" class="max-w-12" title="Valhui | Inicio">
        <Image src={LogoApp} alt="ValHui Logo" class="size-12" />
        <span class="sr-only">ValHui - Home</span>
      </a>
    </div>

    <Navigation client:load {links}>
      <ContactModal
        label="Agendar una visita"
        className='font-bold"'
        client:visible
      />
    </Navigation>
  </section>
</header>

<style>
  @reference "@/ui/styles/global.css";

  .header {
    @apply bg-white border border-[#E5E7EB] shadow-[0_1px_2px_0px_#0000000D] relative z-20;
  }

  .header__container {
    @apply h-20 flex justify-between items-center font-bold gap-4;
  }
</style>
