<header class="section header">
  <section class="section__container header__container">
    Contenido del header
  </section>
</header>

<style>
  @reference "@/ui/styles/global.css";

  .header {
    @apply bg-blue-600 text-white;
  }

  .header__container {
    @apply h-18 flex justify-center items-center font-semibold;
  }
</style>
