<footer class="section footer">
  <section class="section__container footer__container">
    <p>© 2024 My Astro Site. All rights reserved.</p>
  </section>
</footer>

<style>
  @reference "@/ui/styles/global.css";

  .footer {
    @apply bg-gray-800 text-white py-6 min-h-20;
  }

  .footer__container {
    @apply flex justify-center items-center text-xs text-muted;
  }
</style>
